@model ShoppingStore.Models.Item
@{
    ViewData["Title"] = "Product";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/item.css">
}
<!-- category -->
<div class="sort">
    <div class="w sort1">
        <a href="#">@Model.Category</a>
        <span class="s-ico"></span>
        <a href="/category?type=@Model.Type">@Model.Type</a>
        <span class="s-ico"></span>
        <span class="color">@Model.Name</span>
    </div>
</div>

<div class="g-bg clear">
    <div class="w pb80 clear">

        <!-- pictures and info -->
        <div class="detail-top clear">
            <!-- left part: pics -->
            <div class="slide lf">
                <div class="view lf">
                    <img src="~/img/@Model.Image" style="        display: block">
                </div>

            </div>
            <!-- right part:product info -->
            <div class="info rf">
                <div class="intro">
                    <div class="name lf">@Model.Name</div>
                    @if (Model.NewTag)
                    {
                        <div class="newTag lf">new</div>
                    }
                    <div class="desc">by @Model.Seller</div>
                </div>
                <!-- sale time -->
                <div class="d-time">
                    <span class="spring">Limited Time &nbsp; &nbsp;</span>
                    <span class="end">
                        ends in
                        <span class="hour">11</span>
                        h
                        <span class="minute">11</span>
                        m
                        <span class="seconds">11</span>
                        s
                    </span>
                </div>

                <!-- sale price -->
                <div class="price">
                    <div class="fied">
                        <span class="label">price</span>
                        <span class="rmb">$</span>
                        <span class="num">@Model.Price</span>
                        <span class="op">$<del>@Model.Original</del></span>
                    </div>
                    <div class="server">
                        <span class="label">service</span>
                        <div class="line">
                            <i></i>
                            free shipping
                            <span></span>
                            <i></i>
                            free return
                            <span></span>
                            <i></i>
                            fast refund
                            <span></span>
                        </div>
                    </div>
                </div>

                <!-- title -->
                <div class="param clear">
                    <span class="name lf">type</span>
                    <div class="tab lf">
                        @Model.Name
                        <i></i>
                    </div>
                </div>
                <!-- amount -->
                <div class="number clear">
                    <span class="name lf">amount</span>
                    <div class="selnum lf">
                        <span class="remove"><i class="hx"></i></span>
                        <input id="amount" type="text" value="1">
                        <span class="add">
                            <i class="hx"></i>
                            <i class="sx"></i>
                        </span>
                    </div>
                </div>
                <!-- stock -->
                <div class="param clear">
                    <span class="name lf">stock</span>
                    <div class="tab lf">
                        @Model.Stock
                        <i></i>
                    </div>
                </div>
                <!-- buttons -->
                <div class="btns">
                    <a href="javascript:;" class="btn1 lf">Buy Now</a>
                    <a href="javascript:addCart();" class="btn2 lf">
                        <i></i>
                        <span>Add to Cart</span>
                    </a>
                    <div class="zone lf">
                        <span></span>
                        <p>favorite</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- comment -->
<div id="wetakle" data-aos="fade-up">
    <div class="hd clear w">
        <div class="hd-left lf">
            <h3>Recommend for you</h3>
        </div>
    </div>
    <div class="show w">
        <button class="prev"></button>
        <button class="next"></button>
        <div class="show-box clear">
            <ul class="clear">
                <li>
                    <div class="show-top">
                        <a href="#"><img src="~/img/35.jpg"></a>
                    </div>
                    <div class="show-bottom">
                        <div class="name">
                            <span class="frontname">c****4</span>
                            <span class="date">2018-12-20 08:30</span>
                        </div>
                        <div class="paname">
                            <span>Child Bottle</span>
                            <span class="price">$20</span>
                        </div>
                        <div class="comment">
                            <p>Great Deal!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="show-top">
                        <a href="#"><img src="~/img/36.jpg"></a>
                    </div>
                    <div class="show-bottom">
                        <div class="name">
                            <span class="frontname">z****i</span>
                            <span class="date">2019-01-15 20:39</span>
                        </div>
                        <div class="paname">
                            <span>Mini Towel</span>
                            <span class="price">$15</span>
                        </div>
                        <div class="comment">
                            <p>Cute!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="show-top">
                        <a href="#"><img src="~/img/39.jpg"></a>
                    </div>
                    <div class="show-bottom">
                        <div class="name">
                            <span class="frontname">w****1</span>
                            <span class="date">2018-12-20 14:39</span>
                        </div>
                        <div class="paname">
                            <span>Wool Slippers</span>
                            <span class="price">$19</span>
                        </div>
                        <div class="comment">
                            <p>Very warm.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="show-top">
                        <a href="#"><img src="~/img/40.jpg"></a>
                    </div>
                    <div class="show-bottom">
                        <div class="name">
                            <span class="frontname">m****1</span>
                            <span class="date">2018-11-20 09:00</span>
                        </div>
                        <div class="paname">
                            <span>Bedding Set</span>
                            <span class="price">$299</span>
                        </div>
                        <div class="comment">
                            <p>Good looking.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="show-top">
                        <a href="#"><img src="~/img/41.jpg"></a>
                    </div>
                    <div class="show-bottom">
                        <div class="name">
                            <span class="frontname">小**** </span>
                            <span class="date">2018-09-20 10:30</span>
                        </div>
                        <div class="paname">
                            <span>Throw Pillow</span>
                            <span class="price">$39</span>
                        </div>
                        <div class="comment">
                            <p>Soft and beautiful!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="show-top">
                        <a href="#"><img src="~/img/42.jpg"></a>
                    </div>
                    <div class="show-bottom">
                        <div class="name">
                            <span class="frontname">f****i</span>
                            <span class="date">2019-01-20 23:39</span>
                        </div>
                        <div class="paname">
                            <span>Cashmere Socks</span>
                            <span class="price">$16</span>
                        </div>
                        <div class="comment">
                            <p>Save my life in this Winter.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="show-top">
                        <a href="#"><img src="~/img/44.jpg"></a>
                    </div>
                    <div class="show-bottom">
                        <div class="name">
                            <span class="frontname">x****2</span>
                            <span class="date">2019-01-10 14:38</span>
                        </div>
                        <div class="paname">
                            <span>Shopping Bag</span>
                            <span class="price">$25</span>
                        </div>
                        <div class="comment">
                            <p>Huge.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="show-top">
                        <a href="#"><img src="~/img/45.jpg"></a>
                    </div>
                    <div class="show-bottom">
                        <div class="name">
                            <span class="frontname">l****l</span>
                            <span class="date">2018-11-12 09:32</span>
                        </div>
                        <div class="paname">
                            <span>Backpack</span>
                            <span class="price">$99</span>
                        </div>
                        <div class="comment">
                            <p>Nice.</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="show-top">
                        <a href="#"><img src="~/img/47.jpg"></a>
                    </div>
                    <div class="show-bottom">
                        <div class="name">
                            <span class="frontname">m****2</span>
                            <span class="date">2019-02-14 01:21</span>
                        </div>
                        <div class="paname">
                            <span>20 Inch Luggage</span>
                            <span class="price">$128</span>
                        </div>
                        <div class="comment">
                            <p>Good quality.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript" src="~/js/item.js"></script>
    <script>
        function addCart() {
            $.ajax({
                type : "POST",
                url : "/item/AddCart",
                data : {
                    itemId : @Model.ItemId,
                    number : $("#amount").val()
                },
                success : function(result) {
                    alert(result);
                }
           });
        }
    </script>
}
